<nz-layout>
  <nz-sider>
    <div class="logo">
      <img src="https://ui-avatars.com/api/?name=John+Doe&size=150" alt="avatar" class="avatar">
      <div class="usr-info">
        <strong>Root</strong>
      </div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/">
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/income">
        <span nz-icon nzType="fund"></span>
        <span>Income</span>
      </li>
      <li nz-menu-item routerLink="/expense">
        <span nz-icon nzType="fall"></span>
        <span>Expense</span>
      </li>
    </ul>
  </nz-sider>
</nz-layout>
