<div>
    <div nz-row>
        <div nz-col nzFlex="2">
            <nz-card nzType="inner" style="margin-top: 16px;" nzTitle="Post New Income">
                <form nz-form [formGroup]="incomeForm" (ngSubmit)="postIncome()">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your title!">
                        <input type="text" nz-input formControlName="title" placeholder="Enter title" />
                      </nz-form-control>
                    </nz-form-item>
      
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your amount!">
                        <input type="number" nz-input formControlName="amount" placeholder="Enter amount" />
                      </nz-form-control>
                    </nz-form-item>
      
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your date!">
                        <nz-date-picker formControlName="date" style="width: 100%;" nzPlaceHolder="Select date"></nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
      
                    <nz-form-item>
                      <nz-form-control>
                        <textarea nz-input placeholder="Enter description" [nzAutosize]="{ minRows: 2, maxRows: 6 }" formControlName="decription"></textarea>
                      </nz-form-control>
                    </nz-form-item>
      
                    <nz-form-item>
                      <nz-form-control>
                        <nz-select nzAllowClear formControlName="category" nzPlaceHolder="Select category">
                          <nz-option *ngFor="let category of listofCategory" [nzValue]="category" [nzLabel]="category"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
      
                    <button nz-button nzType="primary" style="width: 100%;" [disabled]="incomeForm.invalid" class="w-100">
                      Post Income
                    </button>
                  </form>
            </nz-card>

        </div>
    </div>
</div>
